/* Scss Document */

@font-face {
  font-family: 'georgia';
  src:  url('fonts/georgia/GeorgiaBoldItalicfont.ttf') format('truetype'),
        url('fonts/georgia/georgiabolditalic.ttf') format('truetype'),
		url('fonts/georgia/georgiabold.ttf') format('truetype'),
		url('fonts/georgia/georgiaitalic.ttf') format('truetype'),
		url('fonts/georgia/GeorgiaRegularfont.ttf') format('truetype'),
		url('fonts/georgia/Georgia.ttf') format('truetype'),
		url('fonts/georgia/GEORGIA4.ttf') format('truetype'),
		url('fonts/georgia/georgiab.ttf') format('truetype'),
		url('fonts/georgia/georgiai.ttf') format('truetype'),
		url('fonts/georgia/georgiaz.ttf') format('truetype');
}